{{#if repo}}
<h1>
  <span class="addon-name">
    <a href="https://github.com/{{repoOwner}}/{{repo}}">
      {{repo}}
    </a>
  </span>
  <span class="badges">
    {{add-badges repo=repo}}
  </span>
</h1>
<h2>
  {{subHeading}}
</h2>
<br/>
{{else}}
You must pass in a value for <prop>repo</prop> for add-page-header!
{{/if}}
{{yield}}
