{{#if repo}}
  <span class="addon-name">
    <a href="https://github.com/{{repoOwner}}/{{repo}}">
      {{repo}}
    </a>
  </span>
  <span class="sub-heading">
    {{subHeading}}
  </span>
  <span class="badges">
    {{add-badges repo=repo}}
  </span>
{{else}}
  <span class="warning">
    You must pass in a value for <prop>repo</prop> for add-page-header!
  </span>
{{/if}}
{{yield}}
