<span class="badges">
  {{#if repo}}
    <a href="https://travis-ci.org/{{repoOwner}}/{{repo}}">
      <img src="{{travisSource}}" alt="travis">
    </a>
    <a href="https://www.npmjs.com/package/{{_npm}}">
      <img src="{{npmSource}}" alt="npm">
    </a>
    <a href="https://codeclimate.com/github/{{repoOwner}}/{{repo}}">
      <img src="{{codeClimateSource}}" />
    </a>
  {{/if}}
</span>
