<span class="badges">
  {{#if repo}}
    <a href="https://travis-ci.org/{{repoOwner}}/{{repo}}">
      <img src="https://travis-ci.org/{{repoOwner}}/{{repo}}.svg" alt="travis">
    </a>
    <img src="https://badge.fury.io/js/{{repo}}.svg" alt="fury">
    <a href="https://codeclimate.com/github/{{repoOwner}}/{{repo}}">
      <img src="https://codeclimate.com/github/{{repoOwner}}/{{repo}}/badges/gpa.svg" />
    </a>
  {{/if}}
</span>