<span class="badges">
  {{#if repo}}
    <a href="https://travis-ci.org/{{repoOwner}}/{{repo}}">
      {{lazy-image url=travisSource errorText='<!-- No NPM Badge -->'}}
    </a>
    <a href="https://www.npmjs.com/package/{{_npm}}">
      {{lazy-image url=npmSource errorText='<!-- No NPM Badge -->'}}
    </a>
    <a href="https://codeclimate.com/github/{{repoOwner}}/{{repo}}">
      {{lazy-image url=codeClimateSource errorText='<!-- No Code Climate Badge -->'}}
    </a>
  {{/if}}
</span>
