{{#demo-css}}
  <div class="container">
    <div class="page-header">
      <span class="title-block">
        {{add-page-header repo=repo npm=npm repoOwner=repoOwner subHeading=subHeading}}
      </span>
      <div class="back-navigation">
        {{#if (not-eq currentRoute 'index')}}
          {{#link-to 'index'}}
            {{ui-icon 'arrow-circle-left' size='5rem' class='animated fadeIn'}}
          {{/link-to}}
        {{/if}}
      </div>
  </div>
  <div class="page-content">
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{outlet}}
    {{/if}}
  </div>
</div>
{{/demo-css}}
