<span class="component">
  {{_indentSpacing}}<b>\{{{{#if hasBlock}}#{{/if}}<span class="name">{{componentName}}</span></b>
</span>
{{#if _hasVisibleProperties}}
<span class="properties">
  {{#each _props as |p|}}
    {{#if p.display}}
      <span id='{{elementId}}-{{p.prop}}' class="property">
        <br/>{{_indentSpacing}}&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="name">{{p.prop}}</span>=<span class="quote-mark">{{p.quoteMark}}</span><span class="value {{p.type}}-type">{{p.value}}</span><span class="quote-mark">{{p.quoteMark}}</span>
      </span>
    {{/if}}
  {{/each}}
</span>
{{/if}}
{{! END => HAS VISIBLE PROPERTIES}}
<span class="close-out">
  {{#if as}}
    {{#if _hasVisibleProperties}}
      <br/>
    {{/if}}
    {{#if _hasVisibleProperties}}&nbsp;&nbsp;&nbsp;&nbsp;{{_indentSpacing}}{{/if}}
    {{#if _target}}{{_target}} {{/if}}
    as <span class="yield-variable">|{{as}}|</span>
  {{/if}}
  {{! END "AS" BLOCK }}
  {{#if _hasVisibileProperties}}
    <br/>
  {{/if}}
  <b>}}</b><br/>
</span>
{{yield}}
{{#if hasBlock}}
  {{_indentSpacing}}<b>\{{/<span class="name">{{componentName}}</span>}}</b>
{{/if}}