<span class="component">
  <b>\{{{{#if hasBlock}}#{{/if}}<span class="name">{{componentName}}</span></b>
</span>
<span class="properties">
  {{#each _props as |p|}}
    {{#if p.display}}
      <span id='{{elementId}}-{{p.prop}}' class="property">
        <br/>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="name">{{p.prop}}</span>=<span class="quote-mark">{{p.quoteMark}}</span><span class="value {{p.type}}-type">{{p.value}}</span><span class="quote-mark">{{p.quoteMark}}</span>
      </span>
    {{/if}}
  {{/each}}
</span>
<span class="close-out">
  {{#if as}}
    {{#if _props}}
      <br/>
      &nbsp;&nbsp;&nbsp;&nbsp;
    {{/if}}
    as <span class="yield-variable">|{{as}}|</span>
  {{/if}}
  {{#if _props}}
    <br/>
  {{/if}}
  <b>}}</b><br/>
</span>
&nbsp;&nbsp;&nbsp;&nbsp;{{yield}}
{{#if hasBlock}}
  <br/><b>\{{/<span class="name">{{componentName}}</span>}}</b>
{{/if}}
